<button class="btn-like js-btn-like">
	<span class="icon-thumbs-up"></span>
</button>
<span class="count-likes js-count-likes"></span>
<button class="btn-dislike js-btn-dislike">
	<span class="icon-thumbs-down"></span>
</button>
<span class="count-dislikes js-count-dislikes"></span>