@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

#region-navigation {
	padding: 20px 0;
	background: #fff;

	@media (max-width: $screen-sm-min) {
		padding: 0;
	}
}

.navigation {
	justify-content: flex-end;
	display: flex;

	@media (max-width: $screen-sm-min) {
		justify-content: center;
	}

	> .navigation-item {
		> .navigation-item-link {
			color: #c1c1c1;
			text-transform: uppercase;
			font-size: 20px;
			line-height: 1em;
		}

		&.active > .navigation-item-link {
			color: #000;
			background: transparent;
		}
	}
}
