<div class="row">
	<div class="col-xs-12 col-sm-7">
		<div class="video-container js-video-container">
			<div id="yt-video-container"></div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-5">
		<div class="region-related"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h2 class="title js-title"></h2>
	</div>
	<div class="col-xs-6">
		<h4>
			Veröffentlicht am: <span class="publishedAt js-publishedAt"></span>
		</h4>
	</div>
	<div class="col-xs-6">
		<h4 class="views text-right">
			<span class="js-views"></span> views
		</h4>
		<div class="likes text-right">
			<span class="glyphicon glyphicon-thumbs-up"></span>
			<span class="count-likes js-count-likes"></span>
			<span class="glyphicon glyphicon-thumbs-down"></span>
			<span class="count-dislikes js-count-dislikes"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<p class="description js-description"></p>
	</div>
</div>