<div class="row">
	<div class="col-xs-12 col-sm-7">
		<div class="video-container js-video-container">
			<div id="yt-video-container"></div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-5">
		<div class="region-related"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h2 class="title js-title"></h2>
	</div>
</div>