@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

.layout-comments {
	padding-top: 25px;
	margin-top: 50px;
	border-top: 1px solid #CCC;

	.items-comments {
		display: flex;
		flex-direction: column;

		.item-comment {
			display: flex;
			flex-direction: row;
			margin-bottom: 20px;

			> .profile-picture {
				margin-right: 10px;
			}

			.content-container {
				flex: 1;

				> .head {
					display: flex;
					flex-direction: row;

					> .name {

					}

					> .date {
						margin-left: 10px;
						color: #AAA;
					}
				}

				> .body {
					padding: 5px 0 10px 0;
					white-space: pre-line;
				}

				> .foot {
					display: flex;
					flex-direction: row;

					> .btn-reply {
						margin-right: 15px;
						border: none;
						background: none;
						color: $brand-primary;
						padding-left: 0;

						&:hover {
							color: #23527c;
							text-decoration: underline;
						}

						&:active,
						&:focus {
							outline: none;
							box-shadow: none;
						}
					}


				}

				> .replies {
					margin-top: 5px;
					font-size: 12px;
				}

				> .region-replies {
					.items-comments {
						margin-top: 20px;

						.btn-reply {
							display: none;
						}
					}
				}

				> .region-form {
					.layout-comment-form {
						margin: 15px 0;
					}
				}

				> .loader {
					display: none;
				}
			}
		}
	}

	.form-comments {
		display: flex;
		flex-direction: row;
		margin-bottom: 25px;

		> .text {
			flex: 1;
			margin: 0;
			height: 35px;
			min-height: 35px;
			max-height: 75px;
			resize: none;
			border-right: none;
		}

		> .btn-submit {

		}

		> .btn-cancel {
			border-left: none;
		}
	}

	.loader {
		position: relative;
		left: 0;
		top: 0;
		margin: 0;

		> .sk-fading-circle {
			left: 50%;
			margin-left: -20px;
		}
	}
}
