<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
	<title>rbtv.youtube</title>
	<script src="https://www.youtube.com/iframe_api"></script>
	<link href="http://www.rocketbeans.tv/wp-content/themes/rocket-beans/assets/img/favicon.ico" rel="shortcut icon">
</head>
<body>
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#region-navigation" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div id="region-navigation" class="collapse navbar-collapse"></div>
</nav>
<div class="app">
	<div class="bg">
		<div class="container">
			<div id="region-breadcrumb"></div>
			<div id="region-main"></div>
		</div>
	</div>
	<div id="region-adblock" style="display: none;">
		<div class="alert alert-warning" role="alert">
			Rocket Beans TV wird durch Werbeeinnahmen finanziert.<br/>Daher bitten wir dich, auf dieser Seite deinen AdBLocker auszuschalten.
		</div>
	</div>
</div>
</body>
</html>
<script src="https://apis.google.com/js/client.js?onload=onGoogleClientLoad"></script>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>