<label class="search-label">
	<input type="text" class="form-control search js-search" placeholder="Suchen...">
</label>
<div class="btn-group filter-buttons" role="group">
	<button type="button" class="btn btn-default js-filter-rbtv">Rocket Beans TV</button>
	<button type="button" class="btn btn-default js-filter-lp">Let`s Play</button>
</div>