<label class="search-label">
	<input type="text" class="form-control search js-search" placeholder="Suchen...">
</label>
<div class="btn-group filter-buttons" role="group">
	<button type="button" class="btn btn-default js-filter-rbtv">
		<span class="hidden-xs">
			Rocket Beans TV
		</span>
		<span class="visible-xs-inline">
			RBTV
		</span>
	</button>
	<button type="button" class="btn btn-default js-filter-lp">
		<span class="hidden-xs">
			Let`s Play
		</span>
		<span class="visible-xs-inline">
			LP
		</span>
	</button>
</div>