body {
	background: #FCFCFC !important;
}

.thumbnail, .form-control, .btn {
	border-radius: 0 !important;
}

.app {
	padding: 30px 0;

	.breadcrumb {
		margin-bottom: 10px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}