@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../fonts/thumbs.css';

body {
	background: #FCFCFC !important;
	font-family: Raleway, Arial, sans-serif;
}

// OVERRIDE DEFAULTS

.thumbnail, .form-control, .btn, .breadcrumb {
	border-radius: 0 !important;
}

.breadcrumb > li + li:before {
	padding: 0 5px 0 10px;
}

.btn-primary {
	color: #fff;
	background-image: -webkit-linear-gradient(left, color-stop(#ff217c 0), color-stop(#ff9186 100%));
	background-image: linear-gradient(to right, #ff217c 0, #ff9186 100%);
	background-repeat: repeat-x;
	border: none;
}

.form-control {
	&:focus {
		box-shadow: none;
	}
}

.label {
	padding-top: .2em;
	padding-bottom: .2em;
}

.navbar-default {
	border: none;
	background: none;
	margin: 0;
}

.app {
	padding: 0;
	position: relative;

	> .bg {
		background: #FFF;
		position: relative;

		@media (min-width: $screen-sm-min) {
			min-height: 600px;
			padding-bottom: 25px;
		}
	}

	.breadcrumb {
		margin-bottom: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		white-space: nowrap;
		overflow: hidden;

		@media (max-width: $screen-sm-max) {
			margin-bottom: 10px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}

	.btn-to-top {
		opacity: 0;
		pointer-events: none;
		position: fixed;
		bottom: 10px;
		right: 10px;

		transition: opacity 0.3s linear;

		&.show {
			opacity: 1;
			pointer-events: auto;
		}
	}

	.search-container {
		position: relative;
		display: flex;
		margin: 0 0 20px;

		@media (max-width: $screen-xs-max) {
			margin-bottom: 40px;
		}

		> .search-label-container {
			flex: 2 0 0;
			position: relative;

			> .search-label {
				display: flex;
				margin: 0;
				font-weight: normal;
				position: relative;
				width: 100%;
				padding-left: 40px;
				border: 1px solid #CCC;
				border-right: none;
				height: 34px;
				align-items: center;

				&:before {
					content: "\e003";
					position: absolute;
					top: 50%;
					left: 14px;
					display: inline-block;
					font-family: 'Glyphicons Halflings';
					font-style: normal;
					font-weight: 400;
					line-height: 1;
					margin-top: -7px;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}

				> .search {
					padding: 0 0 0 5px;
					border: none;
					height: 100%;
					box-shadow: none;

					&.has-value + .btn-reset {
						@media (max-width: $screen-xs) {
							display: block;
						}
					}
				}

				> .btn-reset {
					display: none;
					position: absolute;
					background: none;
					border: none;
					right: 0;
					top: 3px;
					font-size: 20px;
					color: #888;
				}
			}

			.items-autocomplete {
				position: absolute;
				top: 6px;
				right: 0;
				z-index: 100;
			}

			.region-autocomplete-selection {
				@media (max-width: $screen-xs-max) {
					position: absolute;
					left: 10px;
					bottom: -26px;
				}

				.items-autocomplete {
					position: static;
					line-height: 0;

					.item-autocomplete {
						&:after {
							content: 'x';
							margin-left: 5px;
							font-size: smaller;
							position: relative;
							top: -1px;
							color: #24748C;
						}

						&:hover:after {
							color: #FFF;
						}
					}
				}
			}
		}

		> .filter-buttons {

			> .btn {
				&:focus {
					outline: none;
				}
			}
		}
	}

	.items-autocomplete {
		list-style-type: none;
		padding: 0;
		margin: 0;

		.item-autocomplete {
			margin: 0 5px 0 0;
			font-size: 12px;
			color: #FFF;

			&:hover,
			&.selected {
				background: #CCC;

				> .autocomplete-item-link {
					text-decoration: none;
				}
			}

			&:focus {
				outline: none;
				text-decoration: none;
			}
		}
	}

	.is-loading .item-empty {
		display: none !important;
	}

	#region-adblock {
		position: fixed;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		z-index: 100;
		width: 100%;
		max-width: 590px;
		text-align: center;
		font-size: 16px;
	}

	.layout-thumbs {
		display: flex;

		.btn-like,
		.btn-dislike {
			color: #CCC;
			background: none;
			border: none;
			padding: 0;
			font-size: 20px;
			pointer-events: none;

			&:hover {
				color: #AAA;
			}

			&:focus {
				outline: none;
			}

			&:hover.active,
			&.active {
				color: #ff217c;
			}

			&.canRate {
				pointer-events: auto;
			}
		}

		.count-likes,
		.count-dislikes {
			margin-top: 6px;
		}

		.count-likes {
			margin-right: 10px;
			color: #CCC;

			&.has-likes {
				color: $text-color;
			}
		}
	}

	.btn-dislike {
		position: relative;
		top: 5px;
	}

	.collection-item {
		opacity: 1;

		transition: opacity 150ms linear 700ms;

		&.collection-item-t-1 {
			transition-delay: 16ms;
		}
		&.collection-item-t-2 {
			transition-delay: 100ms;
		}
		&.collection-item-t-3 {
			transition-delay: 200ms;
		}
		&.collection-item-t-4 {
			transition-delay: 300ms;
		}
		&.collection-item-t-5 {
			transition-delay: 400ms;
		}
		&.collection-item-t-6 {
			transition-delay: 500ms;
		}
		&.collection-item-t-7 {
			transition-delay: 600ms;
		}
		&.collection-item-t-8 {
			transition-delay: 700ms;
		}

		&.is-transparent {
			opacity: 0;
		}
	}
}

.loader {
	position: absolute;
	top: 55px;
	margin-left: -20px;
	left: 50%;
	
	.sk-fading-circle {
		width: 40px;
		height: 40px;
		position: relative;

		.sk-circle {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;

			&:before {
				content: '';
				display: block;
				margin: 0 auto;
				width: 15%;
				height: 15%;
				background-color: #333;
				border-radius: 100%;
				-webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
				animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
			}
		}

		.sk-circle2 {
			-webkit-transform: rotate(30deg);
			-ms-transform: rotate(30deg);
			transform: rotate(30deg);
		}
		.sk-circle3 {
			-webkit-transform: rotate(60deg);
			-ms-transform: rotate(60deg);
			transform: rotate(60deg);
		}
		.sk-circle4 {
			-webkit-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
		}
		.sk-circle5 {
			-webkit-transform: rotate(120deg);
			-ms-transform: rotate(120deg);
			transform: rotate(120deg);
		}
		.sk-circle6 {
			-webkit-transform: rotate(150deg);
			-ms-transform: rotate(150deg);
			transform: rotate(150deg);
		}
		.sk-circle7 {
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		.sk-circle8 {
			-webkit-transform: rotate(210deg);
			-ms-transform: rotate(210deg);
			transform: rotate(210deg);
		}
		.sk-circle9 {
			-webkit-transform: rotate(240deg);
			-ms-transform: rotate(240deg);
			transform: rotate(240deg);
		}
		.sk-circle10 {
			-webkit-transform: rotate(270deg);
			-ms-transform: rotate(270deg);
			transform: rotate(270deg);
		}
		.sk-circle11 {
			-webkit-transform: rotate(300deg);
			-ms-transform: rotate(300deg);
			transform: rotate(300deg);
		}
		.sk-circle12 {
			-webkit-transform: rotate(330deg);
			-ms-transform: rotate(330deg);
			transform: rotate(330deg);
		}
		.sk-circle2:before {
			-webkit-animation-delay: -1.1s;
			animation-delay: -1.1s;
		}
		.sk-circle3:before {
			-webkit-animation-delay: -1s;
			animation-delay: -1s;
		}
		.sk-circle4:before {
			-webkit-animation-delay: -0.9s;
			animation-delay: -0.9s;
		}
		.sk-circle5:before {
			-webkit-animation-delay: -0.8s;
			animation-delay: -0.8s;
		}
		.sk-circle6:before {
			-webkit-animation-delay: -0.7s;
			animation-delay: -0.7s;
		}
		.sk-circle7:before {
			-webkit-animation-delay: -0.6s;
			animation-delay: -0.6s;
		}
		.sk-circle8:before {
			-webkit-animation-delay: -0.5s;
			animation-delay: -0.5s;
		}
		.sk-circle9:before {
			-webkit-animation-delay: -0.4s;
			animation-delay: -0.4s;
		}
		.sk-circle10:before {
			-webkit-animation-delay: -0.3s;
			animation-delay: -0.3s;
		}
		.sk-circle11:before {
			-webkit-animation-delay: -0.2s;
			animation-delay: -0.2s;
		}
		.sk-circle12:before {
			-webkit-animation-delay: -0.1s;
			animation-delay: -0.1s;
		}
	}

	&.white {
		.sk-fading-circle .sk-circle:before {
			background-color: #FFFFFF;
		}
	}

	@-webkit-keyframes sk-circleFadeDelay {
		0%, 39%, 100% {
			opacity: 0;
		}
		40% {
			opacity: 1;
		}
	}

	@keyframes sk-circleFadeDelay {
		0%, 39%, 100% {
			opacity: 0;
		}
		40% {
			opacity: 1;
		}
	}
}

.items {
	display: flex;
	flex-wrap: wrap;

	.item {
		display: flex;

		&.item-empty {
			display: block;
		}

		.loader {
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.85);
		}

		&.is-loading .loader {
			display: block;
		}

		.thumbnail {
			margin-bottom: 30px;
			width: 100%;
			display: flex;
			flex-direction: column;

			> .link {
				display: block;
				position: relative;
				overflow: hidden;

				> .thumb {
					max-width: 100%;
					margin-top: -33px;
					margin-bottom: -33px;
				}

				> .publishedAt {
					position: absolute;
					right: 10px;
					bottom: 10px;
					font-size: 90%;
				}

				> .duration {
					position: absolute;
					left: 10px;
					bottom: 10px;
					font-size: 90%;
				}
			}

			> .caption {
				width: 100%;
				display: flex;
				flex-direction: column;
				flex-grow: 2;

				> .title {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					position: relative;
					padding-right: 40px;
					margin-top: 10px;
					font-size: 17px;

					> .badge {
						position: absolute;
						right: 0;
						top: 0;
					}
				}

				> .description {
					max-height: 58px;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					display: -webkit-box;
				}

				> .team {
					min-height: 20px;
					margin: auto 0 0 0;
					overflow: hidden;

					> .label {
						margin-right: 5px;
						cursor: pointer;
						font-size: 12px;

						&:last-of-type {
							margin-right: 0;
						}
					}
				}
			}
		}

		&.watched {
			.thumbnail {
				> .link {
					position: relative;
					
					&:before {
						content: 'watched';
						position: absolute;
						right: 0;
						top: 0;
						background: #444;
						font-size: smaller;
						padding: 2px;
						color: #FFFFFF;
						z-index: 10;
					}

					.thumb {
						opacity: 0.65;
					}
				}
			}
		}
	}
}

.playlist-items {
	overflow: auto;
	background: #FFFFFF;
	border: 1px solid #CCC;
	height: 395px;

	> .playlist-item {
		display: flex;
		margin-bottom: 5px;
		padding: 5px;
		height: 60px;

		&.active {
			background: #EEE;

			.link {
				color: #000;
			}
		}

		&.watched {
			.thumb-container {
				position: relative;

				&:before {
					content: 'watched';
					position: absolute;
					right: 0;
					bottom: 0;
					background: #444;
					font-size: smaller;
					padding: 2px;
					color: #FFFFFF;
					z-index: 10;
				}

				.thumb {
					opacity: 0.65;
				}
			}
		}

		.thumb-container .thumb {
			max-height: 50px;
		}

		.title {
			padding: 2px 0 0 10px;
			line-height: 120%;
			width: 100%;
			height: 100%;

			> .link {
				overflow: hidden;
				display: block;
				width: 100%;
				height: 100%;
			}

			> .link:hover,
			> .link:active,
			> .link:focus {
				text-decoration: none;
				outline: none;
			}
		}
	}
}