@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../fonts/thumbs.css';
@import "base";
@import "bootstrap";

.app {
	padding: 0;
	position: relative;

	.is-loading .item-empty {
		display: none !important;
	}

	.btn-dislike {
		position: relative;
		top: 5px;
	}
}

.is-standalone {
	body {
		background: transparent;
	}

	.container {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

#region-adblock {
	position: fixed;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	z-index: 100;
	width: 100%;
	max-width: 590px;
	text-align: center;
	font-size: 16px;
}
