body {
	background: #FCFCFC !important;
	font-family: Raleway, Arial, sans-serif;

	&:before {
		content: ' ';
		position: absolute;
		left: 0;
		top: 70px;
		background: url(../img/bg_top.png) no-repeat left top;
		background-size: 1670px 110px;
		height: 110px;
		width: 100%;
		z-index: 10;
	}

	&:after {
		content: ' ';
		background: url(../img/bg.jpg) no-repeat left top / cover;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

.thumbnail, .form-control, .btn, .breadcrumb {
	border-radius: 0 !important;
}

.breadcrumb > li + li:before {
	padding: 0 5px 0 10px;
}

.btn-primary {
	color: #fff;
	background-image: -webkit-linear-gradient(left,color-stop(#ff217c 0),color-stop(#ff9186 100%));
	background-image: linear-gradient(to right,#ff217c 0,#ff9186 100%);
	background-repeat: repeat-x;
	border: none;
}

.form-control {
	&:focus {
		box-shadow: none;
	}
}

.app {
	padding: 250px 0 0;

	> .bg {
		background: #FFF;
		min-height: 480px;
		position: relative;

		&:before {
			content: ' ';
			position: absolute;
			left: 0;
			top: -94px;
			background: url(../img/content_top.png) no-repeat left top;
			background-size: 1670px 94px;
			height: 94px;
			width: 100%;
		}

		> .container {

		}
	}

	.breadcrumb {
		margin-bottom: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.btn-to-top {
		opacity: 0;
		pointer-events: none;
		position: fixed;
		bottom: 10px;
		right: 10px;

		transition: opacity 0.3s linear;

		&.show {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.loader {
	.sk-fading-circle {
		width: 40px;
		height: 40px;
		position: absolute;
		left: 50%;
		top: 55px;
		margin-left: -20px;

		.sk-circle {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;

			&:before {
				content: '';
				display: block;
				margin: 0 auto;
				width: 15%;
				height: 15%;
				background-color: #333;
				border-radius: 100%;
				-webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
				animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
			}
		}

		.sk-circle2 {
			-webkit-transform: rotate(30deg);
			-ms-transform: rotate(30deg);
			transform: rotate(30deg);
		}
		.sk-circle3 {
			-webkit-transform: rotate(60deg);
			-ms-transform: rotate(60deg);
			transform: rotate(60deg);
		}
		.sk-circle4 {
			-webkit-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
		}
		.sk-circle5 {
			-webkit-transform: rotate(120deg);
			-ms-transform: rotate(120deg);
			transform: rotate(120deg);
		}
		.sk-circle6 {
			-webkit-transform: rotate(150deg);
			-ms-transform: rotate(150deg);
			transform: rotate(150deg);
		}
		.sk-circle7 {
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		.sk-circle8 {
			-webkit-transform: rotate(210deg);
			-ms-transform: rotate(210deg);
			transform: rotate(210deg);
		}
		.sk-circle9 {
			-webkit-transform: rotate(240deg);
			-ms-transform: rotate(240deg);
			transform: rotate(240deg);
		}
		.sk-circle10 {
			-webkit-transform: rotate(270deg);
			-ms-transform: rotate(270deg);
			transform: rotate(270deg);
		}
		.sk-circle11 {
			-webkit-transform: rotate(300deg);
			-ms-transform: rotate(300deg);
			transform: rotate(300deg);
		}
		.sk-circle12 {
			-webkit-transform: rotate(330deg);
			-ms-transform: rotate(330deg);
			transform: rotate(330deg);
		}
		.sk-circle2:before {
			-webkit-animation-delay: -1.1s;
			animation-delay: -1.1s;
		}
		.sk-circle3:before {
			-webkit-animation-delay: -1s;
			animation-delay: -1s;
		}
		.sk-circle4:before {
			-webkit-animation-delay: -0.9s;
			animation-delay: -0.9s;
		}
		.sk-circle5:before {
			-webkit-animation-delay: -0.8s;
			animation-delay: -0.8s;
		}
		.sk-circle6:before {
			-webkit-animation-delay: -0.7s;
			animation-delay: -0.7s;
		}
		.sk-circle7:before {
			-webkit-animation-delay: -0.6s;
			animation-delay: -0.6s;
		}
		.sk-circle8:before {
			-webkit-animation-delay: -0.5s;
			animation-delay: -0.5s;
		}
		.sk-circle9:before {
			-webkit-animation-delay: -0.4s;
			animation-delay: -0.4s;
		}
		.sk-circle10:before {
			-webkit-animation-delay: -0.3s;
			animation-delay: -0.3s;
		}
		.sk-circle11:before {
			-webkit-animation-delay: -0.2s;
			animation-delay: -0.2s;
		}
		.sk-circle12:before {
			-webkit-animation-delay: -0.1s;
			animation-delay: -0.1s;
		}
	}

	&.white {
		.sk-fading-circle .sk-circle:before {
			background-color: #FFFFFF;
		}
	}

	@-webkit-keyframes sk-circleFadeDelay {
		0%, 39%, 100% {
			opacity: 0;
		}
		40% {
			opacity: 1;
		}
	}

	@keyframes sk-circleFadeDelay {
		0%, 39%, 100% {
			opacity: 0;
		}
		40% {
			opacity: 1;
		}
	}
}

.items {
	display: flex;
	flex-wrap: wrap;

	.item {
		display: flex;

		.loader {
			display: none;
			position: absolute;
			left: 19px;
			top: 4px;
			width: calc(100% - 38px);
			height: 143px;
			background: rgba(255, 255, 255, 0.85);
		}

		&.loading .loader {
			display: block;
		}

		.thumbnail {
			margin-bottom: 30px;
			width: 100%;

			> .link {
				display: block;
				position: relative;
				overflow: hidden;

				> .thumb {
					max-width: 100%;
					margin-top: -33px;
					margin-bottom: -33px;
				}

				> .publishedAt {
					position: absolute;
					right: 10px;
					bottom: 10px;
					font-size: 90%;
				}
			}

			> .caption {
				width: 100%;

				> .title {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					position: relative;
					padding-right: 40px;
					margin-top: 10px;
					font-size: 17px;

					> .badge {
						position: absolute;
						right: 0;
						top: 0;
					}
				}

				> .description {
					max-height: 58px;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					display: -webkit-box;
					margin: 0;
				}
			}
		}
	}
}