@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../fonts/thumbs.css';

html {
	margin-left: calc(100vw - 100%);
}

body {
	background: #FCFCFC !important;
	font-family: Raleway, Arial, sans-serif;
}

a {
	cursor: pointer;
}

// OVERRIDE DEFAULTS

.thumbnail, .form-control, .btn, .breadcrumb {
	border-radius: 0 !important;
}

.breadcrumb > li + li:before {
	padding: 0 5px 0 10px;
}

.btn-primary {
	color: #fff;
	background-image: -webkit-linear-gradient(left, color-stop(#ff217c 0), color-stop(#ff9186 100%));
	background-image: linear-gradient(to right, #ff217c 0, #ff9186 100%);
	background-repeat: repeat-x;
	border: none;
}

.form-control {
	&:focus {
		box-shadow: none;
	}
}

.label {
	padding-top: .2em;
	padding-bottom: .2em;
}

.navbar-default {
	border: none;
	background: none;
	margin: 0;
}

.app {
	padding: 0;
	position: relative;

	> .bg {
		background: #FFF;
		position: relative;

		@media (min-width: $screen-sm-min) {
			min-height: 600px;
			padding-bottom: 25px;
		}
	}

	.is-loading .item-empty {
		display: none !important;
	}

	#region-adblock {
		position: fixed;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		z-index: 100;
		width: 100%;
		max-width: 590px;
		text-align: center;
		font-size: 16px;
	}

	.btn-dislike {
		position: relative;
		top: 5px;
	}
}