@import "./components/autocomplete";
@import "./components/btnToTop";
@import "./components/collection";
@import "./components/collection-items";
@import "./components/region";
@import "./components/loader";
@import "./components/search";
@import "./components/thumbs";
@import "./components/breadcrumb";