#region-navigation {
	padding: 20px 0;
	background: #fff;
}

.navigation {
	justify-content: flex-end;
	display: flex;

	> .navigation-item {
		> .navigation-item-link {
			color: #c1c1c1;
			text-transform: uppercase;
			font-size: 20px;
			line-height: 1em;
		}

		&.active > .navigation-item-link {
			color: #000;
			background: transparent;
		}
	}
}