.items-playlists {
	> .item > .thumbnail > .link {
		min-height: 142px;

		> .thumb {
			margin-top: -24px;
			margin-bottom: -24px;
		}
	}
}

.playlist-items-form {
	position: relative;

	.datepicker-label {
		margin: 0;
		font-weight: normal;
		display: inline;
		cursor: pointer;

		> .datepicker {
			position: absolute;
			top: 5px;
			right: 1px;
			width: 110px;
			border: none;
			color: #BBB;
		}

		> .glyphicon-calendar {
			position: absolute;
			top: 11px;
			right: 11px;
			color: #BBB;
		}
	}

	.search {
		border-bottom: none;
		padding-right: 115px;
	}
}

.playlist-items {
	height: 395px;
	overflow: auto;
	background: #FFFFFF;
	border: 1px solid #CCC;

	> .playlist-item {
		display: flex;
		margin-bottom: 5px;
		padding: 5px;
		height: 60px;

		&.active {
			background: #EEE;

			.link {
				color: #000;
			}
		}

		&.watched {
			.thumb-container {
				position: relative;

				&:before {
					content: 'watched';
					position: absolute;
					right: 0;
					bottom: 0;
					background: #444;
					font-size: smaller;
					padding: 2px;
					color: #FFFFFF;
					z-index: 10;
				}

				.thumb {
					opacity: 0.65;
				}
			}
		}

		.thumb-container .thumb {
			max-height: 50px;
		}

		.title {
			padding: 2px 0 0 10px;
			line-height: 120%;

			> .link:hover,
			> .link:active,
			> .link:focus {
				text-decoration: none;
				outline: none;
			}
		}
	}
}

.video-container {
	padding-left: 10px;
}

.layout-playlists {
	> .loader {
		display: none;
		//margin-top: 100px;

		> .sk-fading-circle {
			position: relative;
			top: 0;
		}
	}
}