@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

.items-playlists {
	> .item > .thumbnail > .link {
		min-height: 142px;

		> .thumb {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.playlist-items-form {
	position: relative;

	.datepicker-label {
		margin: 0;
		font-weight: normal;
		display: inline;
		cursor: pointer;

		> .datepicker {
			position: absolute;
			top: 5px;
			right: 1px;
			width: 110px;
			border: none;
			color: #BBB;
		}

		> .glyphicon-calendar {
			position: absolute;
			top: 11px;
			right: 11px;
			color: #BBB;
		}
	}

	.search {
		border-bottom: none;
		padding-right: 115px;
	}
}

.layout-playlists-items .loader {
	display: none;
}

.video-container {
	padding-bottom: 10px;

	@media (min-width: $screen-sm-min) {
		padding-bottom: 0;
	}

	> iframe {
		max-width: 100%;
	}
}

.layout-playlists {
	> .loader {
		display: none;
		position: relative;
		left: 0;
		top: 0;
		margin: 0;

		> .sk-fading-circle {
			left: 50%;
			margin-left: -20px;
		}
	}
}