.layout-video {

	.related-items {
		height: 335px;
	}

	.publishedAt {
		font-weight: bold;
	}

	.views {
		font-weight: bold;
	}

	.description {
		white-space: pre-wrap;
		margin: 10px 0;
		padding: 10px 0;
		border-top: 1px solid #CCC;
	}

	.count-likes,
	.count-dislikes {
		position: relative;
		top: -2px;
		margin-left: 4px;
	}

	.count-likes {
		margin-right: 10px;
	}
}