@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

.layout-video {
	position: relative;

	.video-content {

		.video-details {

			.publishedAt {
				font-weight: bold;
			}

			.views {
				font-weight: bold;
			}

			.description {
				white-space: pre-wrap;
				margin: 10px 0 0;
				padding: 10px 0;
				border-top: 1px solid #CCC;
			}

			.layout-thumbs {
				justify-content: flex-end;
			}
		}

		.region-playlist {
			padding-top: 10px;
		}
	}

	.loader {
		display: none;
	}

	&.loading {
		.video-container {
			> iframe {
				opacity: 0.15;
			}

			> .loader {
				display: block;
				top: 50%;
				margin-top: -20px;
			}
		}
	}
}

.video-container {
	width: 100%;
	padding-bottom: 10px;

	@media (min-width: $screen-sm-min) {
		padding-bottom: 0;
	}

	#yt-video-container {
		width: 100%;
		height: 100%;
		background: #000;
	}

	iframe {
		max-width: 100%;
		height: 100%;
	}
}