@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

.layout-video {
	position: relative;

	.video-content {

		.video-details {
			display: flex;

			.publishedAt {
				font-weight: bold;
			}

			.views {
				font-weight: bold;
			}

			.description {
				white-space: pre-wrap;
				margin: 10px 0 0;
				padding: 10px 0;
				border-top: 1px solid #CCC;
			}

			.count-likes,
			.count-dislikes {

			}

			.count-likes {
				margin-right: 10px;
			}
		}

		.region-playlist {
			padding-top: 10px;
		}
	}

	.loader {
		display: none;
	}

	&.loading {
		.video-container {
			> iframe {
				opacity: 0.25;
			}

			> .loader {
				display: block;
				top: 50%;
				margin-top: -20px;
			}
		}
	}
}