<div class="search-label-container">
	<label class="search-label">
		<span class="region-tags-selection"></span>
		<input type="text" class="form-control search js-search" placeholder="Suchen...">
		<button class="btn-reset js-reset"><span class="glyphicon glyphicon-remove-circle"></span></button>
	</label>
	<div class="region-tags hidden-xs"></div>
</div>
<div class="btn-group filter-buttons" role="group">
	<button type="button" data-filterby="rbtv" class="btn btn-default js-filter-rbtv">
		<span class="hidden-xs">
			Rocket Beans TV
		</span>
		<span class="visible-xs-inline">
			RBTV
		</span>
	</button>
	<button type="button" data-filterby="lp" class="btn btn-default js-filter-lp">
		<span class="hidden-xs">
			Let`s Play
		</span>
		<span class="visible-xs-inline">
			LP
		</span>
	</button>
</div>
