.breadcrumb {
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	white-space: nowrap;
	overflow: hidden;

	@media (max-width: $screen-sm-max) {
		margin-bottom: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	> li + li:before {
		padding: 0 5px 0 10px;
	}
}