@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

.search-container {
	position: relative;
	display: flex;
	margin: 0 0 20px;

	@media (max-width: $screen-xs-max) {
		margin-bottom: 40px;
	}

	> .search-label-container {
		flex: 2 0 0;
		position: relative;

		> .search-label {
			display: flex;
			margin: 0;
			font-weight: normal;
			position: relative;
			width: 100%;
			padding-left: 40px;
			border: 1px solid #CCC;
			border-right: none;
			height: 34px;
			align-items: center;

			&:before {
				content: "\e003";
				position: absolute;
				top: 50%;
				left: 14px;
				display: inline-block;
				font-family: 'Glyphicons Halflings';
				font-style: normal;
				font-weight: 400;
				line-height: 1;
				margin-top: -7px;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}

			> .search {
				padding: 0 0 0 5px;
				border: none;
				height: 100%;
				box-shadow: none;

				&.has-value + .btn-reset {
					@media (max-width: $screen-xs) {
						display: block;
					}
				}
			}

			> .btn-reset {
				display: none;
				position: absolute;
				background: none;
				border: none;
				right: 0;
				top: 3px;
				font-size: 20px;
				color: #888;
			}
		}

		.items-tags {
			position: absolute;
			top: 6px;
			right: 0;
			z-index: 100;
		}

		.region-tags-selection {
			@media (max-width: $screen-xs-max) {
				position: absolute;
				left: 10px;
				bottom: -26px;
			}

			.items-tags {
				position: static;
				line-height: 0;

				.item-tag {
					&:after {
						content: 'x';
						margin-left: 5px;
						font-size: smaller;
						position: relative;
						top: -1px;
						color: #24748C;
					}

					&:hover:after {
						color: #FFF;
					}
				}
			}
		}
	}

	> .filter-buttons {

		> .btn {
			&:focus {
				outline: none;
			}
		}
	}
}
