<div class="btn-group filter-buttons" role="group">
	<button type="button" class="btn btn-default js-filter-rbtv">Rocket Beans TV</button>
	<button type="button" class="btn btn-default js-filter-lp">Let's Play</button>
</div>

<div class="row">
	<div class="col-xs-12">
		<label class="search-label">
			<input type="text" class="form-control search js-search" placeholder="Playlists durchsuchen...">
		</label>
	</div>
</div>

<div class="items items-playlists js-playlists row"></div>