<div class="row">
	<div class="col-xs-12">
		<form action="">
			<input type="text" class="form-control js-search" placeholder="Search within playlist...">
		</form>
	</div>
</div>

<p></p>

<div class="row">
	<div class="col-xs-12 col-sm-7">
		<div class="video-container js-video-container"></div>
	</div>
	<div class="col-xs-12 col-sm-5">
		<div class="playlist-items js-playlist-items"></div>
	</div>
</div>