<div class="thumb-container">
	<img class="thumb" src="<%- thumbnails.medium.url %>">
</div>
<div class="title">
	<a class="link js-link" data-videoid="<%- videoId %>" href="javascript:void(0)"><%- title %></a>
</div>