<p></p>

<div class="row">
	<div class="col-xs-12 col-sm-7">
		<div class="video-container js-video-container">
			<div id="yt-video-container"></div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-5">
		<form action="" class="playlist-items-form">
			<input type="text" class="form-control search js-search" placeholder="Search within playlist...">
			<label class="datepicker-label">
				<input class="datepicker js-datepicker">
				<span class="glyphicon glyphicon-calendar"></span>
			</label>
		</form>
		<div class="playlist-items js-playlist-items"></div>
	</div>
</div>