@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';

.items {
    @extend .row;
    position: relative;

    .item {
        @extend .col-xs-12;
        @extend .col-sm-4;

        > .thumbnail {
            position: relative;

            @media (min-width: $screen-xs-min) {
                height: 410px;
            }

            @media (min-width: $screen-sm-min) {
                height: 225px;
            }

            @media (min-width: $screen-md-min) {
                height: 280px;
            }

            @media (min-width: $screen-lg-min) {
                height: 330px;
            }

            .title {
                display: flex;

                > .link {
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
}
