@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';

.items {
    @extend .row;
    position: relative;

    .item {
        @extend .col-xs-12;
        @extend .col-sm-4;

        opacity: 1;
        transition: opacity 150ms linear 850ms;

        // Generate transition-step delays
        @for $i from 0 through 8 {
            &.item-t-#{$i} {
                transition-delay: $i * 60ms;
            }
        }

        &.is-transparent {
            opacity: 0;
        }

        &.is-watched {
            > .thumbnail > .link:before {
                content: 'watched';
                position: absolute;
                left: 5px;
                top: 5px;
                text-transform: uppercase;
                background: $gray-light;
                color: #FFF;
                padding: 3px 3px 1px 3px;
                font-size: 10px;
                z-index: 10;
            }

            .thumb {
                opacity: 0.7;
            }
        }

        > .thumbnail {
            position: relative;
            background: #FFF;

            @media (min-width: $screen-xs-min) {
                height: 425px;
            }

            @media (min-width: $screen-sm-min) {
                height: 240px;
            }

            @media (min-width: $screen-md-min) {
                height: 295px;
            }

            @media (min-width: $screen-lg-min) {
                height: 345px;
            }

            .title {
                display: flex;
                margin: 5px 0 6px;

                > .link {
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .description {
                margin: 0;
            }
        }
    }
}
