.component-autocomplete {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: #CCC;
    pointer-events: none;
    white-space: nowrap;

    canvas {
        display: none;
        position: fixed;
        left: -700px;
        top: -30px;
    }

    > span {
        white-space: pre;

        &.is-cycling {
            &:after {
                content: "\E252";
                position: relative;
                display: inline-block;
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                left: 4px;
                top: -1px;
                font-size: 8px;
            }
        }
    }
}
