@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

.btn-watch-later {
    position: absolute;
    right: 10px;
    top: 10px;
    background: $gray-light;
    display: flex;
    padding: 6px;
    margin: 0;
    border: none;
    color: #fff;

    &.is-small {
        bottom: 5px;
        right: 5px;
        top: auto;
        font-size: 12px;
        padding: 3px;
    }

    &.is-active {
        background-color: $brand-success;
    }
}

.btn-context-menu {
    border: none;
    background: none;

    > span {
        pointer-events: none;
    }
}

.btn,
button {
    &:focus {
        outline: none;
    }
}
