.component-comment-threads-list {

}

.component-comment-item {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;

    &:last-of-type {
        border-bottom: none;
    }

    .thumb {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .content {
        flex: 1;
    }

    .body {
        display: flex;
        margin-bottom: 10px;

        :first-child {
            flex: 1;
            margin-bottom: 0;
        }
    }

    .reactions {
        display: flex;
        margin-bottom: 7px;
        position: relative;

        .component-thumbs {
            margin-left: 10px;

            .btn-like,
            .btn-dislike {
                pointer-events: none;
            }
        }

        .right {
            display: flex;
            position: absolute;
            right: 0;
        }

        .published-at {
            margin-left: 1px;
        }
    }

    .btn-replies {
        margin-bottom: 5px;
        text-align: center;
        background: #DDD;
        color: #333;
        font-size: 12px;
        display: block;
    }
}

.component-comment-form {
    display: flex;
    margin-bottom: 20px;

    > textarea {
        flex: 1;
        margin-right: 10px;
    }
}
