@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

.module-nav {
    display: flex;
    align-items: center;
}

.nav-pills > li {
    margin-right: 5px;

    &:last-child {
        margin-right: 0;
    }

    > a {
        padding: 5px 15px;

        &.active {
            color: #fff;
            background-color: $brand-primary;

            span.badge {
                color: $brand-primary;
                background-color: #fff
            }
        }
    }
}
