.component-playlist-items {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: auto;
    border: 1px solid #CCC;
    padding: 5px;

    .playlist-item {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        height: 68px;

        &:hover {
            background-color: #EEE;
        }

        &:hover.is-active,
        &.is-active {
            background-color: #DDD;
        }

        .image {
            background-repeat: no-repeat;
            background-size: 100%;
            flex: 0 0 120px;
            position: relative;
        }

        .title {
            padding: 2px 10px;
            cursor: pointer;
            height: 68px;
            overflow: hidden;
        }
    }
}
