.component-search {
    > .search-label-container > .search-label {
        display: flex;
        margin: 0;
        font-weight: normal;
        position: relative;
        width: 100%;
        padding-left: 40px;
        border: 1px solid #CCC;
        border-right: none;
        height: 100%;
        align-items: center;
    }
}
