.component-videodetails {
    flex: 1;
    border-bottom: 4px double #CCC;
    margin-bottom: 40px;

    h1 {
        font-size: 26px;
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0 0 18px;
    }

    h4 {
        margin: 0;
    }

    .details-wrapper {
        margin-bottom: 20px;

        .row {
            margin-bottom: 15px;
        }

        .component-thumbs {
            margin-top: 5px;
        }
    }
}
