<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
	<title>rbtv.youtube</title>
	<script src="https://www.youtube.com/iframe_api"></script>
</head>
<body>
<div class="app container">
	<div id="region-breadcrumb"></div>
	<div id="region-main"></div>
</div>
</body>
</html>