@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

.layout-activities {
	> .loader {
		display: none;
		position: relative;
		left: 0;
		top: 0;
		margin: 0;

		> .sk-fading-circle {
			left: 50%;
			margin-left: -20px;
		}
	}

	> .btn-playlist {
		display: none;
		margin: -18px 0 20px;
		width: 100%;
	}

	.items .item .thumbnail > .link > .thumb {
		@media (min-width: $screen-lg-min) {
			min-height: 262px;
		}
	}

	.modal-activities > .modal-dialog {
		@media (min-width: $screen-sm-min) {
			width: 675px;
		}

		.modal-title {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			width: 95%;
		}

		.modal-body {
			background: #000;
			min-height: 425px;
		}
	}
}
